<section id="login" ng-init="init()">

<h1>JOIN THE ACTION</h1>
<form id="joinForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="username" maxlength="10" required>
  </div>
  <div class="form-group">
    <label for="name">Server Pin (e.g 12345)</label>
    <input type="number" class="form-control" id="pin" min="10000" max="99999" required>
  </div>
  <div>
      <button type="submit" class="btn btn-light btn-lg btn-block">JOIN SERVER</button>
  </div>

</form>
</section>
