<section id="login" ng-init="init()">

<h1>JOIN THE ACTION</h1>
<form id="joinForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="username" maxlength="10" required>
  </div>
  <button type="submit" class="btn btn-light btn-lg btn-block">JOIN GAME</button>
</form>

<!-- <h1>CREATE GAME</h1>
<form method="post" formaction="/">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" maxlength="10" required>
  </div>
  <button type="submit" formaction="/sologame" class="btn btn-light btn-lg btn-block">CREATE SOLO GAME</button>
  <p></p>
  <button type="submit" formaction="/creategame" class="btn btn-light btn-lg btn-block">CREATE MULTIPLAYER GAME</button>
</form>

<p></p>

<h1>JOIN GAME</h1>
<form method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" maxlength="10" required>
  </div>
  <div class="form-group">
    <label for="code">Game Code</label>
    <input type="number" class="form-control" id="code" min="10000" max="99999" required>
  </div>
  <button type="submit" formaction="/joingame" class="btn btn-light btn-lg btn-block">JOIN MULTIPLAYER GAME</button>
</form> -->
</section>
