h1 {
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

#ctx {
  margin: auto;
  display: block;
}

#chat-text {
  height: 500px;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

#chat-input {
  width: auto;
}

body {
  color: white;
  background-color: black;
}
