h1 {
  font-family: 'Fredoka One', cursive;
  text-align: center;
  color: white;
}

#ctx {
  margin: auto;
  display: block;
}


.margin {
  background-color: gray;
}

.center {
  background-color: black;
  height: 900px;
}
