@font-face {
  font-family: hyperspace;
  src: url(HyperspaceBold.otf);
}

h1 {
  text-align: center;
}

.rightMargin {
  padding: 0px;
}

#ctx {
  margin: auto;
  display: block;
}

#chat-text {
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#chat-text::-webkit-scrollbar{
  display: none;
}

#chat-input {
  width: auto;
}

body {
  font-family: hyperspace;
  color: white;
  background-color: black;
}

#chatContainer {
  visibility: hidden;
}

#loginContainer {
  visibility: visible;
}

#login {
  padding:10px;
  margin:30px;
}

#gameContainer {
  visibility: hidden;
}

.chat-message {
  background-color:rgba(255, 255, 255, 0.05);
  padding: 10px;
}

.dark {
  background-color:rgba(255, 255, 255, 0.08);
}
